@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --darg-bg: rgb(13, 17, 20);
  --primary-bg: rgb(59, 130, 246);
  --pri-white: rgb(255, 255, 255);
  --slight-ligter-white: rgb(239, 239, 239);
  --secondary-button-bg: rgb(8, 68, 168);
  --secondary-button-bg-hover: rgb(9, 76, 187);
  --ov-grey: rgb(68, 76, 91);
  --ju-grey: rgb(120, 124, 136);
  --ov-dark-grey: rgb(26, 28, 34);
  --tin-dark-light-grey: rgb(83, 89, 101);
  --trash-icon: #f31414c7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: var(--darg-bg);
}