#mainApp header {
  width: 100%;
  background-color: var(--darg-bg);
  padding: 10px 25px;
  backdrop-filter: blur(2px);
}
.toast {
  width: 100%;
  max-width: 280px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 25px;
  background-color: rgb(31, 36, 49);
  color: rgb(202, 213, 239);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.toast#hidden {
  top: -100%;
}
.toast[data-type="error"] {
  background-color: rgb(31, 36, 49);
  color: rgb(218, 155, 151);
  border: 1px solid rgb(114, 60, 56);
}
header .header_cols {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_cols a {
  text-decoration: none;
  color: #fff;
}
.header_col_2 a {
  color: var(--primary-bg);
  font-weight: 500;
}
.header_menu {
  padding-left: 28px;
}
.content {
  padding: 50px;
}
.post_box {
  width: 100%;
  padding: 15px;
}
.post_box .post_box_flex {
  gap: 2rem;
  display: flex;
  justify-content: space-around;
}
.pst_right {
  width: 100%;
}
.pst_right textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  max-height: 500px;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
}
.pbBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding: 5px 85px;
}

.pbBtn button {
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--secondary-button-bg-hover);
  color: var(--pri-white);
  font-weight: 500;
  cursor: pointer;
}
.pbBtn button#disabled {
  pointer-events: none;
  opacity: 0.2;
}
.pbBtn button[data-status="disabled"] {
  pointer-events: none;
  opacity: 0.2;
}
.pbBtn button:hover {
  background-color: var(--secondary-button-bg);
}
.pbImage {
  pointer-events: auto;
}
.pbImage#disabled {
  pointer-events: none;
}
.top {
  display: flex;
  gap: 1rem;
}
.profileName span {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}
.wrapper {
  padding: 10px;
}
.bottom {
  margin-left: 4rem;
}
.bottom p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  max-width: 100%;
  word-wrap: break-word;
}
.bottom .uploadImage {
  margin-top: 1rem;
  width: 100%;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}
.uploadImage img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.uploadImage img:hover {
  scale: 1.1;
}
.interactions {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.like,
.comment {
  display: flex;
  gap: 0.3rem;
}
.like,
.comment span {
  color: var(--ov-grey);
}
#interact {
  cursor: pointer;
}
.post {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--ov-dark-grey);
  /* background-color: rgba(12, 17, 21, 0.51); */
}
.sidebar {
  width: 100%;
  max-width: 350px;
  height: 100%;
  padding: 20px;
  backdrop-filter: blur(7px) saturate(180%);
  -webkit-backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(12, 17, 21, 0.853);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.sidebar#open {
  left: 0;
}
.sideBottom {
  margin-top: 1rem;
}
.sideBottom .Links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sideBottom .Links a {
  width: 100%;
  /* max-width: 200px; */
  font-size: 1.3rem;
  padding: 8px 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #fff;
}
.sideBottom .Links a:hover {
  background-color: #21242d;
}
.sideTop {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.sideTop button {
  width: 100%;
  padding: 15px;
  border: 1px solid #787c88;
  color: #787c88;
  font-size: 1.2rem;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}
.sideTop .close {
  padding: 15px;
  border: 1px solid #787c88;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .pbBtn {
    width: 100%;
    margin-top: 1rem;
  }
  .pbImage svg {
    width: 23px;
    height: 23px;
  }
  .pbBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 25px;
  }
  .content {
    padding: 20px;
  }
  #mainApp header {
    padding: 10px 10px;
  }
}
